// posenet 模型相关地址
export const POSENET_URL = 'https://ai.flypot.cn/models/posenet/model.json';
export const POSENET_BIN_URL = 'https://ai.flypot.cn/models/posenet/group1-shard1of1.bin';
// coco-ssd 模型的地址
export const SSD_NET_URL = 'https://ai.flypot.cn/models/coco-ssd/model.json';